@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply scrollbar hiding to every single element, container, and window */
html, body, * {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar, 
*::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, and Opera */
}